<div class="container-fluid">
    <div class="large-screen">
     <nav class="navbar navbar-expand-lg">
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
                 <li class="nav-item active">
                     <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">About</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
             </ul>
         </div>
     </nav>
     
     <div class="div1">© 2017 Fruit Land. All Rights Reserved</div>
    </div>

    <div class="small-screen">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#">Services</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">Team</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">Gallery</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">Contact</a>
                   </li>
                </ul>
            </div>
        </nav>
        
        <div class="div1">© 2017 Fruit Land. All Rights Reserved</div>
       </div>
</div>
