
    <div class="ocontainer">
        <h2 mat-dialog-title>Oranges's information</h2>
        <img class="im" src="/assets/orange.png" alt="orange">
        <mat-dialog-content>
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
            We provide fresh oranges. We provide fresh oranges. We provide fresh oranges.
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn btn-danger">Close</button>
        </mat-dialog-actions>
    </div>

