
    <div class="container">
<h2 mat-dialog-title>Banana's Information</h2>
<img class="im" src="/assets/banana.png "  alt="image">
<mat-dialog-content>We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
                    We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
                    We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
                    We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
                    We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
                    We provide fresh bananas.We provide fresh bananas.We provide fresh bananas.
</mat-dialog-content>                    
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn btn-danger">Close</button>
</mat-dialog-actions>
</div>

