<div class="container-fluid">
    <div class="large-screen">
    <div>
        <img class="im" src="/assets/lemon.png "  alt="image">
        <div class="div1">We Have<br>Wide Range Of<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button mat-raised-button (click)="openDialog()" class="btn btn-light">Read More</button></div>
        </div>
    </div>
</div>

<div class="small-screen">
    <div>
        <img class="im" src="/assets/lemon.png "  alt="image">
        <div class="div1">We Have<br>Wide Range Of<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button mat-raised-button (click)="openDialog()" class="btn btn-light">Read More</button></div>
        </div>
    </div>
</div>
</div>
