<div class="container-fluid">
    <div class="large-screen">
    <div>
        <img class="im" src="/assets/banana.png "  alt="image">
        <div class="div1">Natural & Fresh<br>Fruits Supply<br>Quality<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/apple.png "  alt="image">
        <div class="div1">Affordable Prices<br>Heightest Quality<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/lemon.png "  alt="image">
        <div class="div1">We Have<br>Wide Range Of<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/orange.png "  alt="image">
        <div class="div1">We Grow & Sell<br>Organic Food<br>Collection<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>
</div>
<div class="small-screen">
    <div>
        <img class="im" src="/assets/banana.png "  alt="image">
        <div class="div1">Natural & Fresh<br>Fruits Supply<br>Quality<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/apple.png "  alt="image">
        <div class="div1">Affordable Prices<br>Heightest Quality<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/lemon.png "  alt="image">
        <div class="div1">We Have<br>Wide Range Of<br>Products<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>

    <div>
        <img class="im" src="/assets/orange.png "  alt="image">
        <div class="div1">We Grow & Sell<br>Organic Food<br>Collection<br>
        <div class="div2">Fresh Fruits From Our Fruit Land&nbsp;&nbsp;<button class="btn btn-light">Read More</button></div>
        </div>
    </div>
</div>
</div>
