<div class="container-fluid">
    <div class="large-screen">
<app-header></app-header>
<br><br>
<app-banana></app-banana>
<app-apple></app-apple>
<app-lemon></app-lemon>
<app-orange></app-orange>
<app-footer></app-footer>
<!--<app-imghead></app-imghead>-->
</div>
</div> <div class="small-screen">
    <app-header></app-header>
    <br><br>
    <app-banana></app-banana>
    <app-apple></app-apple>
    <app-lemon></app-lemon>
    <app-orange></app-orange>
    <app-footer></app-footer>
    <!--<app-imghead></app-imghead>-->
    </div>
    

<!--<app-fruitimages></app-fruitimages>--->
