.container{
    background: #f73441;
}
.large-screen{
    visibility: visible;
    display: block;
}
.small-screen{
    visibility: hidden;
    display: none;
}

@media screen and (max-width:600){
    .large-screen{
        visibility: hidden;
        display: none;
    }
    .small-screen{
        visibility: visible;
        display:block;
    }
}
.navbar-nav{
    color: white;
    background: #f73441;
    margin-left: 0px;
    font-size:large;
}
.nav-link{

    color: white;
}
.form-inline my-2 my-lg-0{

    float: right;
}