
    <div class="acontainer">
        <h2 mat-dialog-title> Apple's information</h2>
        <img class="im" src="/assets/apple.png" alt="image">
        <mat-dialog-content>
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.
            We Provide fresh apples.We Provide fresh apples.We Provide fresh apples.

        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn btn-danger">Close</button>
        </mat-dialog-actions>
    </div>

